*{
    font-family: 'bangers', 'sans-serif' ;
    letter-spacing: 0.05em;
}

body{
    padding: 0em 1em;
    color: #080808;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    width: 100%;
    background-color: #fe8700;
    color: #080808 ;
    position: sticky;
    top: 0;
    z-index: 20;
    border: 2px solid #080808 ;
}

container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    row-gap: 1em;
}

fieldset{
    border: 2px solid #080808;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1.5em;
    border: 2px solid #080808;
    padding: 2em 1em;
}

.num{
    height: 3em;
    width: 13em;
    color: #080808;
    background-color: #e0e0e0;
    border: 0px;
    border-radius: 15px;
    padding: 0em 1em;
}

.submit{
    border: 0px;
    color: #080808;
    background-color: #fe8700;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    height: 2em;
    width: 8em;
    padding: 1em 0.5em;
}

#title{
    width: 8em;
    height: 2em;
    padding: 0.5em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #e0e0e0;
    color: #ac5c00;
}

#explanation{
    font-size: 1.5em;
    width: 12em;
    height: 6em;
    padding: 0.5em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #e0e0e0;
    color: #080808;
}

hr{
    border: 4px solid #080808;
}

.center{
    width: 100%;
    text-align: center;
}